.home__lib{
    width: 100vw;
    height: calc(100vh - 112px);
    background: linear-gradient(180deg, #90AEA7 0%, #000 60.7%);

    display: flex;
    flex-direction: column;
}
.home__song{
    /* flex: 1; */
    height: 40%;
    display: flex;
    align-items: flex-end;

}
.home__song > img{
    width: 230px;
    height: 233px;
}
.home__song > .song-details{
    position: relative;
    bottom: 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.song-details > h1{
    font-size: 70px;
}
.song-details > p{
    font-size: 14px;
}
.home__other-songs{
    height: 60%;
    width: 100%;
    background-color: #00000035;
}
.other-songs__first{
    margin-top: 20px;
    margin-left: 20px;
}
.other-songs__first > img{
    margin-inline: 10px;
}
.home__other-songs > hr{
    border: 0.5px solid rgba(51, 51, 51, 0.321);

    margin-top: 50px;
    margin-left: 25px;
}
.other-songs__info{
    display: flex;
    justify-content: space-between;

    margin-left: 25px;

    position: relative;
    bottom: 10px;
}
.home__songs-list{
    margin-left: 25px;
    margin-right: 10px;

    height: 350px;
    overflow-y: auto;
}
.home__songs-list::-webkit-scrollbar{
    display: none;
}
.songs-list__song{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    border-radius: 4px;

    padding: 4px;
}
.songs-list__song:hover{
    background-color:  #8484844a;
}
.song__first{
    display: flex;
}
.song__time{
    display: flex;
    align-items: center;
    gap: 10px;
}
.song__first-section{
    flex: 1.7;
    display: flex;
    align-items: center;

    gap: 10px;
}
.song__first-section > img[alt="current playing"]{
    width: 14px;
    height: 12px;
}
.song__first-section > img[alt="current image"]{
    width: 35px;
    height: 40px;
}
.first-section__song > .song-name{
    font-size: 16px;
    color: #ffffffcf;
}
.first-section__song > .song-desc{
    font-size: 14px;
    color: #ffffffcf;
}
.song__album-name{
    flex: 3;
    color: #ffffffcf;
}
.song__date{
    flex: 2;
    color: #ffffffcf;
}
.song__time{
    flex: 0.3;
    color: #ffffffcf;

}